{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block
    content %}  <!-- Sets the title for this page as "Profile" -->
    <br>
    <h1 align="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}  <!-- Displaying note data -->
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span> <!-- Close button for deleting the note -->
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST"> <!-- Form for adding a new note using the POST method -->
      <textarea name="note" id="note" class="form-control"></textarea>  <!-- Textarea input for a new note -->
      <br/>
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button> <!-- Centered "Add Note" button -->
      </div> <!-- "Add Note" button with styling -->
    </form>
{% endblock %}